body {
     font-family: "Roboto", sans-serif;
     font-size: 150%;
     text-align: center;
     background-color: rgb(45, 202, 255);
}
span.done {
     color:grey;
     text-decoration: line-through;
}
h1 {
     background-color: rgb(255, 255, 255);
     margin-left: 35%;
     margin-right: 35%;
}
h2 {
     background-color: rgb(255, 255, 255);
     margin-left: 35%;
     margin-right: 35%;
}
.todo-list li{
     font-size: 100%;
     background-color: rgb(255, 255, 255);
     margin-left: 40%;
     margin-right: 40%;
     text-align: center;
}
.done-list {
     font-size: 100%;
     background-color: rgb(255, 255, 255);
     margin-left: 35%;
     margin-right: 35%;
}