body {
     font-family: "Roboto", sans-serif;
     font-size: 250%;
     text-align: center;
     background-color: rgb(45, 202, 255);
}
span.done {
     color:grey;
     text-decoration: line-through;
}
h1 {
     background-color: rgb(255, 255, 255);
     color: rgb(84, 84, 84);
}
h2 {
     background-color: rgb(255, 255, 255);
     color: rgb(84, 84, 84);
}
.todo-list li{
     color: rgb(214, 214, 214);
     background-color: rgb(84, 84, 84);
     text-align: center;
     font-size: 50%;
}
.done-list {
     color: rgb(214, 214, 214);
     background-color: rgb(84, 84, 84);
     text-decoration: none;
     font-size: 50%;
}
h3 {
     background-color: rgb(84, 84, 84);
}